---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const headings = [{ depth: 2, slug: 'projects', text: 'Projects' }]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/jerry609'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='projects'>Projects</h2>
  <ProjectSection
    projects={[
      {
        name: 'Jerry, Zhang Ruijie',
        description: '',
        links: [{ type: 'github', href: 'https://github.com/jerry609' }]
      }
    ]}
  />
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
