---
import PageLayout from '@/layouts/CommonPage.astro'

const headings: { depth: number; slug: string; text: string }[] = []
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <img
      class='w-full max-w-3xl rounded-lg border'
      src='https://ghchart.rshah.org/659eb9/jerry609'
      alt='github activities'
      width='800'
      height='160'
      loading='lazy'
      decoding='async'
    />
  </p>

  <p>项目整理中...</p>
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
